.download {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.template-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}

.template-border {
  width: 800px;
  border: 1px solid #000000;
}
