.items-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.nothing-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #808080;
}

.loading {
  width: 10vw;
  padding-top: 15%;
}

.loading img {
  width: 100%;
  opacity: 0.5;
}
